<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application>
        <activity
            android:name="com.hsjeong.supporttools.ui.SupportToolsActivity"
            android:exported="false" />

        <activity
            android:name="com.hsjeong.supporttools.ui.preferenceviewer.PreferenceViewerActivity"
            android:exported="false" />

        <activity
            android:name="com.hsjeong.supporttools.ui.preferenceviewer.detail.PreferenceViewerDetailActivity"
            android:exported="false" />

        <activity
            android:name="com.hsjeong.supporttools.ui.logviewer.LogViewerActivity"
            android:exported="false"/>
    </application>
</manifest>